.header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 41px;
  width: 100%;
  max-width: 880px;
  padding-top: 45px;
  border-bottom: solid;
  border-bottom-color: rgba(84, 84, 84, 0.5);
  padding-bottom: 41px;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 28px;
  }
}