.element__like-btn {
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.element__like-btn:hover {
  opacity: 0.5;
  transition: opacity 0.6s;
}