.footer {
  margin: 0 auto;
  padding-top: 67px;
  max-width: 880px;
  padding-bottom: 60px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-left: 19px;
    padding-top: 48px;
    padding-right: 19px;
    padding-bottom: 36px;
  }
}